<% include partials/header %>
<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNotLogin" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNotLogin">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trending</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <%for (var i=0; i< post.length; i++) {%>
    <div class="card">
        <div class="card-body">
            <h3>
                <%=post[i].title%>
            </h3>
            <p>
                <%=post[i].modifieddate%>
            </p>
            <p>
                <%=post[i].user.username%>
            </p>
            <p>
                <%=post[i].discontent%>
            </p>

            <a href="/post/<%=post[i]._id%>"><button class="btn btn-primary" type="button" name="button">Read More</button></a>
        </div>
    </div>
    <%}%>
</div>
<% include partials/footer %>
