<% include partials/header %>
<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogin" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarLogin">
                <ul class="navbar-nav mr-auto">

                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-capitalise">
                                <%=loggeduser.username%></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/user/mypost">My Post</a>
                            <a class="dropdown-item" href="/account/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<div class="jumbotron">
    <div class="container">
        <h1>Edit Post</h1>
    </div>
</div>

<div class="container">
    <form class="" action="/user/editpost/<%=post._id%>" method="post">
        <% if (!validationCheck && validationError) {%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 <%= validationError[0].msg  %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <%}%>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" value ="<% if(post) {%><%=post.title%><%}%>"  name = "title" />
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea type="text" rows="10" class="form-control" id="content"  name = "content" ><% if(post) {%>
<%=post.content%>
            <%}%></textarea>
        </div>

        <div class="form-group">
            <button type="submit"  class="btn btn-default button-primary">Submit</button>
        </div>
    </form>
</div>

<% include partials/footer %>
