<% include partials/header %>
<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogin" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarLogin">
                <ul class="navbar-nav mr-auto">

                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/addpost">Add Post</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-capitalise">
                                <%=loggeduser.username%></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">My Post</a>
                            <a class="dropdown-item" href="/account/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="jumbotron">
    <div class="container">
        <h1>My Post</h1>
    </div>
</div>

<div class="container">
<%if (post.length > 0) {%>
    <%for (var i=0; i< post.length; i++) {%>
        <div class="card-container">
        <div class="card">
            <div class="card-body">
                <h3 class="font-weight-bold">
                    <%=post[i].title%>
                </h3>
                <div class="sub-heading form-inline">
                    <span class="text-capitalise">
                        <%=post[i].user.username%>, </span>
                    <%=post[i].modifieddate%>
                </div>
                <div class="p-content">
                    <%=post[i].discontent%>
                </div>

                <a href="/post/<%=post[i]._id%>"><button class="btn btn-primary" type="button" name="button">Read More</button></a>
                <a href="/user/editpost/<%=post[i]._id%>"><button class="btn btn-success" type="button" name="button">Edit Post</button></a>
                <!-- <a href="/user/deletepost/<%=post[i]._id%>"><button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModalCenter" name="button">Delete Post</button></a> -->
                <button class="btn btn-danger clickDelete" type="button" name="<%=post[i]._id%>">Delete Post</button></a>
            </div>
        </div>
        </div>
    <%}%>
    <%} else {%>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">No Post Found!</h4>
        <p><a href="/user/addpost">Click here </a> to add Post.</p>
    </div>
    <%}%>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="deleteId" href="#"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
